.DS_Store
build/
logs/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.xcresult
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.log
Pods
Carthage
*.idea
features/fixtures/carthage-proj
IDEWorkspaceChecks.plist
Podfile.lock
.build
.swiftpm
Package.resolved
/compile_commands.json
/docs/
/infer-out
/oclint.json
