language: objective-c
cache:
  - bundler
  - cocoapods
matrix:
    include:
        - osx_image: xcode10.2
          env: PLATFORM=iOS
          script:
            - make test OS=11.4
            - make test OS=10.3.1
            - make test OS=9.3
            - make test OS=9.3 TEST_CONFIGURATION=Release
          after_success:
            - bash <(curl -s 'https://codecov.io/bash') -Z -J '^Bugsnag$' -X gcov -X coveragepy -X fix -D build
        - osx_image: xcode9.4
          env: PLATFORM=OSX
          script:
            - make test
        - osx_image: xcode10.2
          env: PLATFORM=tvOS
          script:
            - make test OS=11.4
            - make test OS=10.2
            - make test OS=9.2
        - osx_image: xcode10.1
          script: travis_retry bundle exec maze-runner -c || (cat maze_output/* && exit 1)
          env: MAZE_SDK=12.1 SDK=iphonesimulator12.1 RUBYSHELL=/bin/bash
install: make bootstrap

before_deploy: make doc

deploy:
  provider: pages
  local_dir: docs # only include the contents of the generated docs dir
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # set in travis-ci dashboard
  on:
    tags: true # only deploy when tag is applied to commit
