version: '3.6'
services:
  cocoa-maze-runner:
    image: 855461928731.dkr.ecr.us-west-1.amazonaws.com/maze-runner-releases:latest-v3-cli
    environment:
      DEBUG:
      VERBOSE:
      MAZE_DEVICE_FARM_USERNAME:
      MAZE_DEVICE_FARM_ACCESS_KEY:
    volumes:
      - ./features/fixtures/ios-swift-cocoapods/output:/app/build
      - ./features/:/app/features/
